<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Recommendation Demo</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>


<b>Sample Users</b><br>
{{ sample_users|safe }}
<br>
<br>
<b>Sample Jobs</b><br>
{{ sample_jobs|safe }}
<br>
<br>

<form action="/recommend" method="get">
    Recommend jobs for user
    <input type="text" name="user_id" placeholder="User ID, i.e. 554">
    <input type="submit" value="Submit">
</form>

</body>
</html>